<h1>New Product</h1>
<form action="/products" method="post">
  <div> Name: <input type="text" name="name"></div>
  <div> Price: <input type="text" name="price"></div>
  <div> Description: <input type="text" name="description"></div>
  <div> Supplier Id: <select name="supplier_id">
  <option value="1">Paste Cereal</option> 
  <option value="2" selected>General Swills</option>
  <option value="3">Killall Company</option>
</select></div>
  <input type="submit" value="Create product">
</form>